.tab {
  @apply w-24 md:w-48 p-1 md:p-2 rounded-md flex cursor-pointer;
  @apply hover:bg-opacity-20 hover:bg-white;
}

.tab span {
  @apply overflow-ellipsis overflow-hidden whitespace-nowrap flex-grow;
}

.tab.active {
  @apply bg-primary-700 text-white border border-primary-400 cursor-default;
}

.tab.active span {
  @apply cursor-default;
}

.tab .btn-close {
  @apply px-1 
    rounded-md 
    hover:bg-opacity-20 
    hover:bg-white 
    cursor-pointer;
}

[data-tauri-drag-region] {
  position: relative;
}

[data-tauri-drag-region]:before {
  content: '';
  position: absolute;
  right: 38px;
  width: 25px;
  height: 100%;
  @apply bg-gradient-to-l from-primary-800;
}

.icon:not(:disabled) {
  @apply text-primary-300 p-1 rounded-md;
  @apply hover:bg-white hover:bg-opacity-20;
}

.icon:disabled {
  @apply opacity-30 cursor-default;
}

.windows-btn {
  @apply text-xs px-2 md:px-4 -m-1 hover:bg-opacity-20 hover:bg-white;
}

.windows-btn.close {
  @apply -ml-3 hover:bg-red-500;
}

.windows-btn.close.not-maximized {
  @apply rounded-tr-md;
}
